@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    /*margin-top: 70px;
    margin-bottom: 200px;
    margin-right: 25%;
    margin-left: 25%;*/
    color: #000000;
    background-color: #ffffff;
    text-align: justify;
    line-height: 32px;
}
h1 {
    /* font-family: 'IBM Plex Mono', monospace; */
    margin-top: 70px;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
}
p {
    font-size: 16px;
    margin-top: 30px;
}
a {
    color: #874fda;
    text-decoration: none;
}
code {
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
}

.main {
    margin-top: 70px;
    margin-bottom: 200px;
    margin-left: 25%;
    margin-right: 25%;
}
.topbar {
    color:
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.codeblock {
    background-color: #181b28;
    color: #ffffff;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 13px;
    padding-left: 13px;
}
